{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block link %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'films/css/genres.css' %}">
</head>
<body>
{% block image %}{% endblock %}
<header class="header">
    <div class="navbar container">
        <a href="{% url 'main' %}">
            <img src="{% static 'films/images/logo.svg' %}" alt="Logo">
        </a>
        {% include './_nav.html' %}
        <div class="user">
            {% if request.user.is_authenticated %}
            <span class="">Привет, {{ user.username }}| <a href="{% url  'logout' %}">Выход</a></span>
            {% else %}
            <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a>
            {% endif %}
            <!--            <img src="{% static 'films/images/avatar.jpg' %}" alt="Kirill">-->
        </div>
    </div>
    {% block content %}{% endblock %}
</header>
</body>
</html>