{% extends 'films/base.html' %}
{% load static %}
{% block title %}
Список фильмов
{{ title }}
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'films/css/style_for_hfl.css' %}">
{% endblock %}
{% block image %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'films/css/card_style.css' %}">
{% for film in films %}
<section class="info">
    <h1> Film: &mdash; <a href="{{ film.get_absolute_url }}" target="_blank">{{ film.ru_title }}</a></h1>
</section>
<section class="cards-wrapper">
    <div class="card-grid-space">
        <div class="num">{{ film.pk }}</div>
        <a class="card" href="{{ film.get_absolute_url }}"
           style="--bg-img: url({{ film.photo }})">
            <div>
                <h5>{{ film.en_title }}</h5>
                <h1>{{ film.ru_title }}</h1>
                <p>{{ film.content|truncatewords:10 }}</p>
                <div class="date"></div>
                <div class="tags">
                    <div class="tag"></div>
                </div>
            </div>
        </a>
    </div>
</section>
{% endfor %}

{% endblock %}
